name: Publicador de vers達o NodeJS.

on:
  workflow_call:
    secrets:
      VR_PACKAGE_TOKEN:
        required: true
    inputs:
      GITHUB_ACTOR:
        required: true
        type: string
      NEW_VERSION:
        required: true
        type: string
    outputs:
      :IS_PUBLISHED:
        description: "Armazena status de a vers達o foi publicada."
        value: ${{ jobs.publish_release.outputs.IS_PUBLISHED }}
jobs:
  publish_release:
    name: Publicar nova vers達o

    runs-on: ubuntu-latest
    outputs:
      ISSUE_KEYS: ${{ steps.export_status.outputs.IS_PUBLISHED }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.VR_PACKAGE_TOKEN }}
          fetch-depth: 0
          ref: main

      - name: Git Config
        run: git config --global user.email "$GITHUB_ACTOR@users.noreply.github.com" && git config --global user.name "$GITHUB_ACTOR"

      - name: Upgrade release on packages
        id: upgrade_release_package
        run: |
          NEW_VERSION=${{ inputs.NEW_VERSION }}

          npm --no-git-tag-version version $NEW_VERSION
          git add . 
          git commit -m "ci: Entrega da vers達o $NEW_VERSION"
          git push

      - name: Publish Release
        id: publish_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.VR_PACKAGE_TOKEN }}
        with:
          tag_name: v${{ inputs.NEW_VERSION }}
          release_name: Release v${{ inputs.NEW_VERSION }}
          commitish: main

      - name: Set Status IS_PUBLISHED
        id: export_status
        run: echo "::set-output name=IS_PUBLISHED::$IS_PUBLISHED"
